
.navbar-nav{
    position: absolute;
    top: 100%;
    left: 95%;
    /*transform: translate(-50%,-50%);*/
    margin: 0;
    padding: 20px 0;
   margin-top: 150px;
    border-radius: 10px;
    /*box-shadow: 0 10px 30px rgba(0, 0, 0,.3);*/
}
a.nav-link {
    margin-bottom: 22px;
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        display: block;
        
    }
}
@media (min-width: 200px) and (max-width:768px){
    p,h1.info{
        background-color: black;
        
    }
}


.icon{
    font-size: 40px;
    padding: 7px;
    color: white;
    border-radius: 20px;
    
}
a{
    text-decoration: none !important;
    color: #fff !important;
    padding-top: 10px !important;
}
svg.icon:hover,svg.icon:active{
    background-color: #f1c40f !important;
    
   
}
svg.icon {
    background-color:gray !important ;
}
svg.arrow{
    border-radius: 18px;
    background-color: #f1c40f !important;
    font-size: 37px;
    float: right;
}
.name{
     color: #f1c40f; 
     font-weight: 700;
     font-size: xxx-large;
} 
.info{
    color: white;
    font-weight: 700;
    font-size: xxx-large;
    padding-left: 29px;
}
.partition{
    top: 5%;
    position: relative;
}

.about{
    margin-top: 20px;
    border-radius: 25px !important;
    background-color: transparent !important;
    border-color: #f1c40f !important;
    width: 28% !important;
    font-weight: 500 !important;
   /* height: 20% !important;*/
}
.about:hover{
    background-color: #f1c40f !important;
    transition: .3s ease-out all !important;
    color: #fff !important;
}
.span1{
    color: #f1c40f;
}

.about-heading{
    padding-top: 53px;
    font-size: 60px;
    font-weight: 800;
}
.personal{
    margin-top: 35px;
    margin-bottom: 20px;
}
.bio{
    margin-left: 247px;
    justify-content:space-evenly;
}

.span2{
    color: gray;
}

.CircularProgressbar .CircularProgressbar-path {
    stroke: #f1c40f !important;
}
svg {
     background-color:transparent !important;
     vertical-align: middle;
    font-size: 26px;
    padding-left: 7px;
}

.CircularProgressbar .CircularProgressbar-text {
    fill: #fff !important;
}
.cv{
    margin-left: 330px;
    height: 14% !important;
}
hr {
    margin: 1rem 0;
    color: gray;
    border: 0;
    border-top: 1px solid;
    opacity: .25;
    width: 680px;
}
.v1{
    border-left: 6px solid black;
    height: 850px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
   
  }

.main{
    justify-content:space-evenly;
    background-color: #14161912;
}
.education{
    justify-content: center;
    padding-left: 48px;
}

span.bg-dark.year.badge.bg-primary {
    width: 75px;
    height: fit-content;
    border-radius: 13px;
    color: gray;
}
.web{
    margin-top: 10px;
    font-style: oblique;
}
.description{
    width: 350px;
    text-align: justify;
}
.backcolor{
    background-color: #f1c40f;
    width: fit-content;
    border-radius: 15px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 0px;
    box-shadow:4px 0px 4px 0px;
    margin-top: 41px;

}
.color-block {
    height: 200%;
    left: -83%;
    position: fixed;
    top: -50%;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    width: 100%;
   
}

.sidechange{
    float: right;
}

.setmargin1{
    margin-top: 125px;
}
.setmargin2{
    margin-top: 90px;
}
.fruit{
    float: right;
    margin-top: 120px;
}
hr {
   border-top: 0px !important;
   opacity: 0 !important;
}