
.bottom-bar{
    position: absolute;
    top: 40%;
    left: 95%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 20px 0;
    display:flex;
    border-radius: 10px;
    /*box-shadow: 0 10px 30px rgba(0, 0, 0,.3);*/
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        display: block;
        
    }
}



.icon{
    font-size: xx-large;
    padding: 7px;
    color: white;
    border-radius: 20px;
    
}
svg:hover{
    background-color: #f1c40f;
   
}
svg {
    background-color: gray;
}
.name{
     color: #f1c40f; 
     font-weight: 700;
     font-size: xxx-large;
} 
.info{
    color: white;
    font-weight: 700;
    font-size: xxx-large;
    padding-left: 29px;
}
.partition{
    top: 5%;
    position: relative;
}

.about{
    margin-top: 20px;
    border-radius: 25px !important;
    background-color: transparent !important;
    border-color: #f1c40f !important;
    width: 21% !important;
    height: 20% !important;
}
.about:hover{
    background-color: #f1c40f !important;
    transition: .3s ease-out all !important;
}
.span1{
    color: #f1c40f;
}

.about-heading{
    padding-top: 53px;
    font-size: 60px;
    font-weight: 800;
}
.personal{
    margin-top: 35px;
    margin-bottom: 20px;
}
.bio{
    margin-left: 247px;
    justify-content:space-evenly;
}

.span2{
    color: gray;
}

.CircularProgressbar .CircularProgressbar-path {
    stroke: #f1c40f !important;
}
svg {
     background-color: transparent !important;
}
.CircularProgressbar .CircularProgressbar-text {
    fill: #fff !important;
}
.cv{
    margin-left: 330px;
    height: 14% !important;
}
hr {
    margin: 1rem 0;
    color: gray;
    border: 0;
    border-top: 1px solid;
    opacity: .25;
    width: 680px;
}
.v1{
    border-left: 6px solid black;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
   
  }