.enterFormCol{
    justify-content: space-evenly;
    display: contents;
    padding: 10px;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  display: contents;
  overflow: auto;
  margin: 20px;
  /*padding: 20px 20px 20px 20px;*/
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .result{
    justify-content: space-evenly;
    padding: 10px;
}
